<!DOCTYPE html>
<html lang="fr">


<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
  <% if (cssFile){%>
  <link rel="stylesheet" href="/css/<%=cssFile%>">
  <%}%>
</head>
<body>
  <header>
    <h1>
      <a href="/">GameHub</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <% for (let game of games){ %>
        <li><a href="/game/<%= game.name%>"> <%= game.title%></a></li>
        <% } %>
      </ul>
    </nav>
  </header>
