
<body>
  <header>
    <h1>
      <a href="/">GameHub</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/game/fourchette"> Le juste prix</a></li>
        <li><a href="/game/diceRoller">Vegas Baby!</a></li>
      </ul>
    </nav>
  </header>
  </body>