<%- include ('partials/header.ejs') %>
<main>
    <h3>Hum... </h3>
    <p class="center">On a cherché, on a pas trouvé, on est fatigués.</p>
    <p class="center">Mais vous pouvez toujours retourner à l'accueil et essayer autre chose !</p>
  </main>

  <footer>
    
  </footer>
</body>

</html>