<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <h1>
      <a href="/">GameHub</a>
    </h1>

  </nav>

  <h3>Jeu De La Fouchette</h3>

  <script src="/js/fourchette.js"></script>

</body>
</html>