<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<%- include('partials/header.ejs') %>
<main>
    <h3>Index</h3>
  </main>

  <footer>
    
  </footer>
</body>

</html>